<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td background="http://localhost:7777/balloons-large4.jpg" bgcolor="#7bceeb" valign="top" style="background-repeat:no-repeat;height: 800px;">
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
        <v:fill type="tile" src="http://localhost:7777/balloons-large4.jpg" color="#7bceeb" />
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]-->
      <div style="width: 100%;">
	      	<div style="width: 20%; margin: 10% 0 0 10%;">
	      		<h2>${name} </h2>
				<img src=${picUrl} style="height: 200px; width: 200px;">
			</div>
			<div style="color: Blue; font-size: 300%; width: 70%; float:right">
				<p font="18" color="blue">On your special day, We wish you good luck, & hope this wonderful day will 
					fill up your heart with joy and blessings. Have a fantastic birthday..<br />Happy Birthday!!</p>
			</div>  
      </div>
      <!--[if gte mso 9]>
        </v:textbox>
      </v:rect>
      <![endif]-->
    </td>
  </tr>
</table>

